<!DOCTYPE html>
<!--This website temple was created by Nguyen Hoang Long (GCS18171) -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Club</title>
  </head>
  <body>

<!-- Use the header area for website name and logo -->
    <header>
      <a href="index.html">FORWARD FITNESS CLUB</a>
    </header>

<!-- Use the nav area to add hyperlink to other pages within the website -->
    <nav>
      <a href="index.html">Home &nbsp; &nbsp;</a>
      <a href="about.html">About Us &nbsp; &nbsp;</a>
      <a href="class.html">Classes &nbsp; &nbsp;</a>
      <a href="nutrition">Nutrition &nbsp; &nbsp;</a>
      <a href="contact.html">Contact Us</a>
    </nav>

<!-- Use the main area to add the main content of the webpage -->
    <main>
    </main>

<!-- Use the footer area to add webpage footer content -->
    <footer>
      &copy; CopyRight 2019. All Rights Reserved. <br>
      <a href="mailto:forwardfitness@gmail.com">Email: forwardfitness@gmail.com</a>
    </footer>
  </body>
</html>
