<!DOCTYPE html>
<!--This website temple was created by Nguyen Hoang Long (GCS18171) -->
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title>Fitness Club</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>

    <div id="container">

<!-- Use the header area for website name and logo -->
    <header>
      <a href="index.html"><img src="image/ffc_logo.png" alt="Forward Fitnessn Club Logo"></a>
    </header>

<!-- Use the nav area to add hyperlink to other pages within the website -->
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="class.html">Classes</a></li>
        <li><a href="nutrition">Nutrition</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>

<!-- Use the main area to add the main content of the webpage -->
    <main>
    </main>

<!-- Use the footer area to add webpage footer content -->
    <footer>
      &copy; CopyRight 2019. All Rights Reserved. <br>
      <a href="mailto:forwardfitness@gmail.com">Email: forwardfitness@gmail.com</a>
    </footer>

    </div>

  </body>
</html>
