<!DOCTYPE html>
<!--This website temple was created by Nguyen Hoang Long (GCS18171) -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Club</title>
  </head>
  <body>

<!-- Use the header area for website name and logo -->
    <header>
      FORWARD FITNESS CLUB
    </header>

<!-- Use the nav area to add hyperlink to other pages within the website -->
    <nav>
      Home &nbsp; &nbsp;
      About Us &nbsp; &nbsp;
      Classes &nbsp; &nbsp;
      Nutrition &nbsp; &nbsp;
      Contact Us
    </nav>

<!-- Use the main area to add the main content of the webpage -->
    <main>
    </main>

<!-- Use the footer area to add webpage footer content -->
    <footer>
      &copy; CopyRight 2019. All Rights Reserved. <br>
      Email: forwardfitness@gmail.com
    </footer>
  </body>
</html>
