/*style sheet created by Hoang Long Nguyen, 17/1/2019*/

/*Style for boby specifies a backround color*/
body {
  background-color: #FFFF99;
}

/*style to create a fluid image */
img {
  max-width: 100%;
}

/* Style for mobile layout*/

/*Style for container centers the page and set the element width*/
#container{
  width: 100%;
  margin-left   : auto;
  margin-right  : auto;
}

/*Style for header specifies top, backround color, rounded corner, and center-align content*/
header{
  margin-top        : 0.2em;
  background-color  : #FFFFFF;
  border-radius     : 0.5em;
  text-align        : center;
}

/*Style for nav specifies text properties, padding, margins and borders*/
nav {
  font-family       : Georgia, "Times New Roman", serif;
  font-size         : 1.25em;
  font-weight       : bold;
  text-align        : center;
}

/* Style specifies padding and margins for unordered list */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Style specifies the background color, rounded corners, remove bullet style, and applies margins and padding for list items within the navigation*/
nav li {
  background-color: #009933;
  border-radius: 2em;
  list-style-type: none;
  margin-top: 0.3em;
  padding: 0.4em;
}

/* Style change navigation link text color to white and remove the underline */
nav li a {
  color: #FFFFFF;
  text-decoration: none;
}

/* style displays the mobile class */
.mobile {
  display: inline;
}

/* style displays the desktop class */
.desktop {
  display: none;
}

/* Style for the main element specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
  display           : block;
  font-family       : Verdana, Arial, sans-serif;
  font-size         : 1em;
  margin-top        : 0.5em;
  padding           : 1em;
  border-radius     : 1em;
  background-color  : #FFFFFF;
  border-top:       : solid 0.2em #009933;
  border-bottom:    : solid 0.2em #009933;
}

/*Style for footer specifies font size, text alignment and top margin*/
footer {
  font-size         : .70em;
  text-align        : center;
  margin-top        : 2em;
}

/*Style hide the tablet Class*/
.tablet {
  display: none;
}

/*Style rule specifies to not display the equip class */
.equip {
  display: none;
}

ul {
  margin-bottom     : 90px;
  list-style-position: inside;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 20px;
}
